<app-navbar></app-navbar>
<app-bar></app-bar>

<!-- BREADCRUMB -->
<nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 fs-xs text-gray-400">
            <li class="breadcrumb-item active">
              <a [routerLink]="['/']">
                  Inicio
              </a>
          </li>
            <li class="breadcrumb-item active">
                Carrito
            </li>
          </ol>
  
        </div>
      </div>
    </div>
</nav>

<section class="pt-7 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <!-- Heading -->
          <h3 class="mb-10 text-center">Carrito</h3>
  
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
  
          <!-- List group -->
          <ul class="list-group list-group-lg list-group-flush-x mb-6">
            <li class="list-group-item" *ngFor="let item of cart; let idx = index">
              <div class="row align-items-center">
                <div class="col-3">
  
                  <!-- Image -->
                  <a [routerLink]="['/'+item.producto.slug]">
                    <img *ngIf="user != null" [src]="url+'/getProductoPortada/'+item.producto.portada" alt="..." class="img-fluid">
                    <img *ngIf="user == null"  class="img-fluid" [src]="url+'/getProductoPortada/'+item.portada" alt="...">
                  </a>
  
                </div>
                <div class="col">
  
                  <!-- Title -->
                  <div class="d-flex mb-2 fw-bold">
                    <a *ngIf="user != null"  class="text-body" [routerLink]="['/'+item.producto.slug]">
                      {{item.producto.titulo}}
                    </a> 
                    <a *ngIf="user == null"  class="text-body" [routerLink]="['/'+item.slug]">
                      {{item.titulo}}
                    </a> 
                    <span class="ms-auto">
                      <ng-container *ngIf="user != null">{{item.producto_variedad.precio|currency:'USD'}}</ng-container>
                      <ng-container *ngIf="user == null">{{item.precio|currency:'USD'}}</ng-container>
                    </span>
                  </div>
  
                  <!-- Text -->
                  <p class="mb-7 fs-sm text-muted"  *ngIf="user != null">
                    Talla: {{item.producto_variedad.talla}} <br>
                    Color: {{item.producto_variedad.color}}
                  </p>
                  <p class="mb-7 fs-sm text-muted"  *ngIf="user == null">
                    Talla: {{item.talla}} <br>
                    Color: {{item.color}}
                  </p>
  
  
                  <!--Footer -->
                  <div class="d-flex align-items-center">
  
                    <!-- Select -->
                    <select *ngIf="user != null" class="form-select form-select-xxs w-auto" [(ngModel)]="item.cantidad" (change)="updateCantidadClient(item._id,item.cantidad)">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                    <select *ngIf="user == null" class="form-select form-select-xxs w-auto" [(ngModel)]="item.cantidad" (change)="updateCantidadGuest(idx,item.cantidad)">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
  
                    <!-- Remove -->
                    <a  *ngIf="user != null" class="fs-xs text-gray-400 ms-auto" (click)="quitar_producto(item._id)" style="cursor: pointer;">
                      <i class="fe fe-x"></i> Eliminar
                    </a>
                    <a  *ngIf="user == null" class="fs-xs text-gray-400 ms-auto" (click)="quitar_producto(idx)" style="cursor: pointer;">
                      <i class="fe fe-x"></i> Eliminar
                    </a>
  
                  </div>
  
                </div>
              </div>
            </li>
          </ul>
  
  
        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1">
  
          <!-- Total -->
          <div class="card mb-7" >
            <div class="card-body" style="background: #fff !important;">
              <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                <li class="list-group-item d-flex">
                  <span>Subtotal</span> <span class="ms-auto fs-sm">{{total-tax|currency:'USD'}}</span>
                </li>
                <li class="list-group-item d-flex">
                  <span>Tax</span> <span class="ms-auto fs-sm">{{tax|currency:'USD'}}</span>
                </li>
                <li class="list-group-item d-flex fs-lg fw-bold">
                  <span>Total</span> <span class="ms-auto fs-sm">{{total|currency:'USD'}}</span>
                </li>
                <li class="list-group-item fs-sm text-center text-gray-500">
                  Shipping cost calculated at Checkout *
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Button -->
          <a class="btn w-100 btn-dark mb-2" [routerLink]="['/checkout']">Checkout</a>
  
          <!-- Link -->
          <a class="btn btn-link btn-sm px-0 text-body" [routerLink]="['/tienda']" >
            <i class="fe fe-arrow-left me-2"></i> Continuar comprando
          </a>
  
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>