<div class="row mb-5">
    <ng-container *ngIf="!load_data">
      <div class="col-lg-6 col-md-12" *ngFor="let item of direcciones; let idx = index">
          <div class="card card-lg bg-white mb-8">
              <div class="card-body">
            
                <!-- Heading -->
                <h6 class="mb-6">
                  Dirección {{idx+1}}
                </h6>
            
                <!-- Text -->
                <p class="text-muted mb-0">
                  {{item.nombres}} {{item.apellidos}} <br>
                  {{item.address}} <br>
                  {{item.postcode}} <br>
                  {{item.country}} <br>
                  {{item.prefijo}} {{item.telefono}}
                </p>
            
                <!-- Action -->
                <div class="card-action card-action-end">
            
                  <!-- Button -->
                  <a class="btn btn-xs btn-circle btn-white-primary" [routerLink]="['/cuenta/direccion-edit/',item._id]">
                    <i class="fe fe-edit-2"></i>
                  </a>
            
                  <!-- Button -->
                  <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteModal-'+item._id">
                    <i class="fe fe-x"></i>
                  </button>
            
                </div>
            
              </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="deleteModal-{{item._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Eliminar Dirección</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="mb-0">Confirmación de eliminación de dirección.</p>
                </div>
                <div class="modal-footer pt-0">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button *ngIf="!load_btn" type="button" class="btn btn-primary" (click)="delete(item._id)">
                    Eliminar
                  </button>
                  <button *ngIf="load_btn" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Procesando...
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </ng-container>
    <ng-container *ngIf="load_data">
      <div class="text-center py-10">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>
</div>


<a [routerLink]="['/cuenta/direcciones-create']" class="btn btn-outline-border w-100">
    Nueva Dirección
</a>

